@{
    ViewData["Title"] = "About AccuDrone"  ;
}
<h2>@ViewData["Title"]</h2>
<br />

<ul>
    <li> AccuDrone is a tool used to determine whether it safe to fly your Drone</li>
    <br /> 
    <li> Utilizing AccuWeather API, AccuDrone provides accurate real time data</li>
    <br />
    <li>SImply enter the zip code of your current location and AccuDrone does the rest!</li>
</ul>
