@{
    ViewData["Title"] = "Contact AccuDrone";
}
<h2>@ViewData["Title"]</h2>
<br />
<address>
    Shelby Hall<br />
    Mobile, AL 36608<br />
    <abbr title="Phone">P: 334-796-8107</abbr>
    334-790-1234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@accudrone.com">Support@accudrone.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@accudrone.com">Marketing@accudrone.com</a>
</address>
